@import url('https://fonts.googleapis.com/css?family=Alexandria|Rubik|Archivo+Black');

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(24, 25, 26);
}

main {
    display: flex;
    flex-direction: column;
}

header {
    background: rgb(185, 12, 0);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header nav {
    flex: 1 1 auto;
}
  
nav li:hover {
    background: rgb(209, 92, 84);
}
  

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;
    max-height: 100%;
}

nav li {
    background-color: rgb(185, 12, 0);
    padding: 8px;
    list-style-type: none;
    font-family: Rubik, sans-serif;
}

nav a {
    display: inline-block;
    padding: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Alexandria';
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 1px 4px;
    margin-left: 10rem;
}

#splash {
    color: rgb(255, 255, 255);
    padding-left: 2rem;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url(./images/netflix_splash_edit.jpg);
    text-shadow: rgb(0, 0, 0) 4px 4px 3px;
    margin-top: 0%;
}

.normal /* h2 */{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#description p {
    color: rgb(255, 255, 255);
}
   

h1, nav {
    flex: 1 auto auto;
    /* The validator says it's not valid but online resources say otherwise. It works so I left it. Some said that this is a bug of the validator but I don't know. */
}

nav ul li a {
    padding-right: 40px;
    padding-left: 40px;
}
   

footer p {
    color: rgb(255, 255, 255);
    border-top: solid thin rgb(255, 255, 255);
    padding-top: 1rem;
    text-align: center;
    width: 100%;
}

p {
    color: rgb(255, 255, 255);
    font-size: larger;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    border-top: solid 3px #585858ad;
    margin-top: 4rem;
    padding-top: 3rem;
}

.nonimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 2rem;
    text-shadow: 2px 5px 2px rgb(0, 0, 0);
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
}


img {
    box-shadow: 0px 5px 30px rgb(0, 0, 0)
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

#catch {
    font-size: larger;
}

label {
    color: #fff;
    font-family: Alexandria, sans-serif;
}


form, label, input, textarea {
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  margin: 3px;
  border: none;
  cursor: pointer;
}

#base {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    align-items: center;
    margin-top: 5rem;
    font-size: larger;
    text-align: center;
    background-color: rgb(77, 75, 75);
    border: solid #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-shadow: 2px 2px 5px #000;
}

.key {
    padding: 3rem;
    font-family: 'Rubik', sans-serif;
}

hr {
    color: #585858;
    margin-bottom: 12rem;
    height: 8px;
    background-color: #585858ad;
    border-style: none;
}

.greaterkey {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

#outreach {
    text-align: center;
    margin-bottom: 5rem;
}

#paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    font-size: larger;
}

#paragraph img {
    margin: 3rem;
}